.examples-ctr {
    padding: 120px 18vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.examples-ctr .tab-headers-ctr {
    display: flex;
    margin-bottom: 20px;
}

.examples-ctr .tab-headers-ctr .tab-header {
    margin-right: 20px;
    padding-left: 0;
}

.examples-ctr .hide {
    display: none;
}

.examples-ctr .tab-headers-ctr h3 {
    color: #888C9D;
}

.examples-ctr .tab-headers-ctr .highlight h3 {
    color: #1EBFC9;
}

.examples-ctr .example-img-ctr {
    border: 1px solid #EDEDED;
    min-height: 344px;
}

.examples-ctr .text-content {
    padding-right: 90px;
}

.examples-ctr .text-content .title {
    margin-bottom: 18px;
}
