.features-list-ctr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    padding: 100px 18vw;
}

.features-list-ctr .feature .title {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.features-list-ctr .title img {
    width: 28px;
    margin-right: 20px;
}

.features-list-ctr .feature .description {
    padding-left: 48px;
}

@media only screen and (max-width: 1023px) {
    .features-list-ctr {
        grid-template-columns: 1fr;
        padding: 60px 6vw 70px;
    }

    .features-list-ctr .feature .title {
        display: block;
        text-align: center;
    }

    .features-list-ctr .title img {
        width: 26px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .features-list-ctr .feature .description {
        padding-left: 0;
        text-align: center;
    }
}
