.getting-started-ctr {
    position: relative;
    min-height: 400px;
    color: #151B3B;
    background-color: #FFF8F7;
}

.getting-started-ctr * {
    position: relative;
    z-index: 1;
}

.getting-started-ctr .button {
    border: 2px solid #1ebfc9;
    border-radius: 22px;
    font-family: inherit;
    font-size: 12px;
    padding: 12px;
    margin-right: 10px;
    width: 120px;
    cursor: pointer;
    color: #1EBFC9;
    background-color: #FFF8F7;
}

.getting-started-ctr button:hover {
    background-color: #1EBFC9;
    color: white;
}

.getting-started-ctr .banner {
    text-align: right;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.getting-started-ctr .banner img {
    width: auto;
    right: 0;
    margin-left: auto;
    height: 100%;
    max-width: 100%;
}

.getting-started-ctr .banner .show-medium-screen {
    display: none;
}

.getting-started-ctr .content-ctr {
    padding: 80px 20vw 0 20vw;
}

.getting-started-ctr .content-ctr .content {
    max-width: 500px;
}

.getting-started-ctr .content-ctr .title {
    margin-bottom: 16px;
}

.getting-started-ctr .content-ctr .description {
    font-size: 20px;
    margin-bottom: 28px;
}

@media only screen and (max-width: 1280px) {
    .getting-started-ctr .banner .hide-medium-screen {
        display: none;
    }
    .getting-started-ctr .banner .show-medium-screen {
        display: block;
    }
}

@media only screen and (max-width: 1023px) {
    .getting-started-ctr .content-ctr {
        padding: 80px 6vw;
    }
}

@media only screen and (max-width: 840px) {
    .getting-started-ctr .banner {
        position: static;
        height: 350px;
        margin-bottom: -80px;
        margin-top: -50px;
    }
}

@media only screen and (max-width: 570px) {
    .getting-started-ctr .banner {
        height: unset;
    }
    .getting-started-ctr .banner img {
        height: auto;
    }
}
