.getting-started-ctr {
    position: relative;
    height: 400px;
    color: #151B3B;
}

.getting-started-ctr .banner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.getting-started-ctr .banner img {
    width: 100%;
    height: 100%;
}

.getting-started-ctr .content-ctr {
    padding: 80px 20vw 0px 20vw;
}

.getting-started-ctr .content-ctr .content {
    max-width: 500px;
}

.getting-started-ctr .content-ctr .title {
    margin-bottom: 16px;
}

.getting-started-ctr .content-ctr .description {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 28px;
}
